aws_region = "eu-west-1"
vpc_cidr = "10.0.0.0/16"
nginx_instance_type = "t3.micro"
db_instance_class = "db.t3.micro"
db_engine_version = "15.14"
db_name = "appdb"
db_username = "postgres"
environment = "dev"
project_name = "vpc-ngx-rds"
